@model AR_IS.ViewModel.CustomerVM
@{
    ViewBag.Title = "New";
}
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/jquery.inputmask.bundle.js"></script>
<style>
    hr.new2 {
        color: #2196F3;
        border-top: 4px dotted;
    }
</style>
<div class="content-wrapper">
    <!-- Container-fluid starts -->
    <!-- Main content starts -->
    <div class="container-fluid">
        <div class="col-lg-12">
            <br />
            <a href="@Url.Action("Index","Customer")" class="btn btn-primary offset-lg-10"><i class="fa fa-list"></i> Customers </a>
            <div class="card" style="margin-top:20px">
                <div class="card-header">
                    <h5 class="card-header-text"><b><u>Register Customer</u></b></h5>
                </div>
                <div class="card-block">
                    @if (TempData["Reg"] != null)
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <div id="mydiv" class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>

                                    <div class="alert-message">
                                        <span>@TempData["Reg"]</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @using (Html.BeginForm("Save", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="card-header  ">
                            <h5 class=" text-primary "><u><b>Personal Information</b></u></h5>
                        </div>
                        <div class="col-md-3">
                            <label> Customer Name(Ledger)</label>&nbsp;<i class="fa fa-asterisk text-danger"></i>
                            @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control thresold-i ", @required = "required", autocomplete = "off" })
                        </div>
                        <div class="col-md-3">
                            <label> Company Name</label>
                            @Html.TextBoxFor(m => m.Customer.Comname, new { @class = "form-control thresold-i ", autocomplete = "off" })
                        </div>
                        <div class="col-md-3">
                            <label> Enter Description</label>
                            @Html.TextBoxFor(m => m.Customer.Description, new { @class = "form-control thresold-i ", autocomplete = "off" })
                        </div>
                        <div class="col-md-3">
                            <label>Enter CNIC Number</label>
                            @if (Model.Customer.id == 0)
                            {
                                <input type="text" data-inputmask="'mask': '99999-9999999-9'" name="CNIC" id="CNIC" class="form-control input-xs">
                            }
                            else
                            {
                                <input type="text" data-inputmask="'mask': '99999-9999999-9'" value="@Model.Customer.CNIC" name="CNIC" id="CNIC" class="form-control input-xs">
                            }
                        </div>
                        <script>
                            $(":input").inputmask();

                        </script>
                        <div class="col-md-3">
                            <br />
                            <label>Email</label>
                            @Html.TextBoxFor(m => m.Customer.Email, new { @class = "form-control thresold-i ", @type = "email", @placeholder = "", autocomplete = "off" })
                        </div>

                        <div class="col-md-3">
                            <br />
                            <label>Phone1</label>

                            @Html.TextBoxFor(m => m.Customer.Phone1, new { @class = "form-control thresold-i ", @type = "text", @placeholder = "", autocomplete = "off" })
                        </div>
                        <div class="col-md-3">
                            <br />
                            <label>Phone2</label>

                            @Html.TextBoxFor(m => m.Customer.Phone2, new { @class = "form-control thresold-i ", @type = "text", @placeholder = "", autocomplete = "off" })
                        </div>
                        <div class="col-md-3">
                            <br />
                            <label>Phone3</label>

                            @Html.TextBoxFor(m => m.Customer.Phone3, new { @class = "form-control thresold-i ", @type = "text", @placeholder = "", autocomplete = "off" })
                        </div>
                        <div class="col-md-3">
                            <br />
                            <label>Telephone</label>
                            @Html.TextBoxFor(m => m.Customer.Telephone, new { @class = "form-control thresold-i ", @type = "number", @placeholder = "", autocomplete = "off" })
                        </div>
                        <div class="col-md-3">
                            <br />
                            <label>Photo</label>
                            @if (Model.Customer.Image == "" || Model.Customer.Image == null)
                            {

                                <input type="file" name="img" id="img" accept="image/*" onchange="preview_image(event)" class="form-control thresold-i" />
                            }
                            else
                            {

                                <input type="file" name="img" id="img" accept="image/*" onchange="preview_image(event)" class="form-control thresold-i" />
                            }
                        </div>
                        <div class="col-md-3">
                            <br />
                            <label><b>Select Town</b></label>
                            @Html.DropDownListFor(m => m.Customer.Town, new SelectList(Model.Town_list, "Name", "Name"), "Select", htmlAttributes: new { @class = "form-control input-xs chosen-select", onchange = "Action(this.value)" })
                        </div>
                        <div class="col-md-3">
                            <br />
                            <label>Select Province</label>
                            @Html.DropDownListFor(m => m.Customer.Province, new SelectList(Model.Province_list, "Name", "Name"), "Select", htmlAttributes: new { @class = "form-control input-xs chosen-select", onchange = "Action(this.value)" })
                        </div>
                        <div class="col-md-3">
                            <br />
                            <label>Address</label>

                            @Html.TextAreaFor(m => m.Customer.Address, new { @class = "form-control thresold-i ", @type = "", autocomplete = "off", cols = "10", rows = "2" })
                        </div>
                        <div class="col-md-3">
                            <br />
                            <label>Bank Details</label>
                            @Html.TextAreaFor(m => m.Customer.BankDetail, new { @class = "form-control thresold-i ", @type = "", autocomplete = "off", cols = "10", rows = "2" })
                        </div>
                        <div class="col-md-12">
                            <hr class="new2">
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="card-header  ">
                                    <h5 class=" text-primary "><u><b>Financial Information</b></u></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            
                            <label>NTN</label>
                            @Html.TextBoxFor(m => m.Customer.NTN, new { @class = "form-control thresold-i ", @placeholder = "", autocomplete = "off" })
                        </div>
                        <div class="col-md-3">
                           
                            <label>GST</label>
                            @Html.TextBoxFor(m => m.Customer.GST, new { @class = "form-control thresold-i ", @placeholder = "", autocomplete = "off" })
                        </div>
                        <div class="col-md-3">
                            <label>Special Discount</label>
                            @Html.TextBoxFor(m => m.Customer.SpecialDiscount, new { @class = "form-control thresold-i ", @type = "number", @placeholder = "", autocomplete = "off" })
                        </div>
                        <div class="col-md-3">
                            
                            <label>Prompt Payment Discount</label>
                            @Html.TextBoxFor(m => m.Customer.PromptPaymentDiscount, new { @class = "form-control thresold-i ", @type = "number", @placeholder = "", autocomplete = "off" })
                        </div>
                        <div class="col-md-3">
                            <br />
                            <label>Payment Conditions</label>
                            @Html.TextBoxFor(m => m.Customer.PaymentConditions, new { @class = "form-control thresold-i ", @placeholder = "", autocomplete = "off" })
                        </div>
                        <div class="col-md-3">
                            <br />
                            <label>Days of payment</label>
                            @Html.TextBoxFor(m => m.Customer.Daysofpayment, new { @class = "form-control thresold-i ", @placeholder = "", autocomplete = "off" })
                        </div>
                        <div class="col-md-3">
                            <br />
                            <label>Credit Limit</label>
                            @Html.TextBoxFor(m => m.Customer.CreditLimit, new { @class = "form-control thresold-i ", @type = "number", @placeholder = "", autocomplete = "off" })
                        </div>
                        <div class="offset-md-4 col-md-5 " style="margin-top:20px">
                            @if (Model.Customer.id == 0)
                            {
                                <button type="submit" class="btn btn-primary pull-right col-md-8" style="margin-top:0px"><i class="fa fa-check"></i> Save </button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary pull-right col-md-8" style="margin-top:0px"><i class="fa fa-check"></i> Update </button>
                            }
                        </div>
                        @Html.HiddenFor(m => m.Customer.id)
                        @Html.HiddenFor(m => m.Customer.AccountNo)
                    }

                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $('.chosen-select').chosen();
</script>

<script>
    setTimeout(function () {
        $('#mydiv').fadeOut('fast');
    }, 3000); // <-- time in milliseconds
</script>



