@model AR_IS.ViewModel.ReportsVM
@{
    ViewBag.Title = "Search";
    double sum_Total = 0;
    double sum_CargoCharges = 0;
    double sum_GrandTotal = 0;
    double sum_DiscountAmount = 0;
    double sum_NetAmount = 0;
}
<div class="content-wrapper">
    <!-- Container-fluid starts -->
    <!-- Main content starts -->
    <div class="container-fluid">
        <div class="col-lg-12">
            <br />
            @*<a href="@Url.Action("Index","Category")" class="btn btn-primary offset-lg-10"><i class="fa fa-list"></i> Categories</a>*@
            <div id="mydiv" class="col-md-3">
                <p class="text-center bg-success">@TempData["Reg"]</p>
            </div>
            <div class="card" style="margin-top:20px">
                <div class="card-header">
                    <h5 class="card-header-text"><u><b>Purchase Report </b></u></h5>
                </div>
                <div class="card-block">
                    @using (Html.BeginForm("Search", "PurchaseReport", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-4">
                                <label>Start Date</label>
                                <input type="date" name="Sdate" value="@Model.Sdate" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <label>End Date</label>
                                <input type="date" name="Edate" value="@Model.Edate" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <label><b>Select Supplier</b></label>
                                @Html.DropDownListFor(m => m.Supplier.AccountNo, new SelectList(Model.Supp_list, "AccountNo", "Name"), "Select Supplier", htmlAttributes: new { @class = "form-control input-xs chosen-select" })
                            </div>
                            <br />
                            <div class="col-md-3 offset-sm-10">
                                <button type="submit" class="btn btn-primary " style="margin-top:30px"><i class="fa fa-search"></i>&nbsp; Search</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="card" style="margin-top:20px">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-header-text"><u><b>Purchase Report </b></u></h5>
                            </div>
                            <a href="@Url.Action("PrintReport", new { AccountNo = Model.Supplier.AccountNo , Sdate =Model.Sdate ,Edate=Model.Edate } )" target="_blank" class="btn btn-primary col-md-3" style="margin-left:20px"><i class="fa fa-print"></i>&nbsp; Print</a>
                            <div class="card-block">
                                <br />
                                <br />
                                <table id="" class="table table-small-font table-bordered table-striped">
                                    <thead class="bordered-darkorange">
                                        <tr style="background-color:#2196F3;color:white">
                                            <th>Action </th>
                                            <th><i class="fa fa-save"></i>Invoice No  </th>
                                            <th><i class="fa fa-calendar"></i>Date </th>
                                            <th><i class="fa fa-user"></i>Supplier </th>
                                            <th>Total </th>
                                            <th>Cargo Charges</th>
                                            <th>Grand Total </th>
                                            <th>Discount</th>
                                            <th>Net Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var lst in Model.PurchaseReport)
                                        {
                                            sum_Total += Convert.ToDouble(lst.Total);
                                            sum_CargoCharges += Convert.ToDouble(lst.CargoCharges);
                                            sum_GrandTotal += Convert.ToDouble(lst.GrandTotal);
                                            sum_DiscountAmount += Convert.ToDouble(lst.DiscountAmount);
                                            sum_NetAmount += Convert.ToDouble(lst.NetAmount);
                                            <tr>
                                                <td>
                                                    <a class="accordion-msg badge badge-success" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo-@lst.Invid" aria-expanded="false" aria-controls="collapseTwo">
                                                        <i onclick="myFunction(this)" class="fa fa-plus"></i>
                                                    </a>
                                                    <a href="@Url.Action("Print","PurchaseWTC", new {   Invid = lst.Invid  })" target="_blank" class="badge badge-warning" data-toggle="tooltip" data-placement="left" title="Click Me To Print"><i class="ion-printer"></i></a>
                                                </td>
                                                <td>
                                                    <label class="badge badge-inverse-default">@lst.Invid </label>
                                                </td>
                                                <td>@Convert.ToDateTime(lst.Date).ToString("dd-MMM-yyyy")</td>
                                                <td>@lst.Name</td>
                                                <td>@lst.Total.ToString("#,##0")</td>
                                                <td>@lst.CargoCharges.ToString("#,##0")</td>
                                                <td>@lst.GrandTotal.ToString("#,##0")</td>
                                                <td>@lst.DiscountAmount.ToString("#,##0")</td>
                                                <td>
                                                    @lst.NetAmount.ToString("#,##0")

                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="9">
                                                    <div id="collapseTwo-@lst.Invid" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                        <div class="accordion-content accordion-desc">

                                                            <table class="table dt-responsive table-striped table-bordered nowrap">
                                                                <thead class="bordered-darkorange">
                                                                    <tr class="bg-info">
                                                                        <th>Sr No</th>
                                                                        <th><i class="fa fa-shopping-basket"></i>Item Name</th>
                                                                        <th>CP</th>
                                                                        <th>CTN</th>
                                                                        <th>Qty</th>
                                                                        <th>Net Total</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @{ int i = 1; }
                                                                    @foreach (var item in Model.PurchaseReportDetail.Where(z => z.Invid == lst.Invid))
                                                                    {
                                                                        <tr>
                                                                            <td> @i</td>
                                                                            @{ i++; }
                                                                            <td>@item.ItemName</td>
                                                                            <td>@item.CP.ToString("#,##0")</td>
                                                                            <td>@Convert.ToInt32(item.CTN)</td>
                                                                            <td>@Convert.ToInt32(item.Qty)</td>
                                                                            <td>@item.NetTotal.ToString("#,##0")</td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr style="border:2px solid #CCCCCC">
                                            <th style="text-align:center;" colspan="4"><label class="label label-lg label-default">Amount Rs:</label></th>
                                            <th style="border:2px solid #CCCCCC"><label class="label label-lg label-primary">@sum_Total.ToString("#,##0")</label></th>
                                            <th style="border:2px solid #CCCCCC"><label class="label label-lg label-danger">@sum_CargoCharges.ToString("#,##0")</label></th>
                                            <th style="border:2px solid #CCCCCC"><label class="label label-lg label-info">@sum_GrandTotal.ToString("#,##0")</label></th>
                                            <th style="border:2px solid #CCCCCC"><label class="label label-lg label-warning">@sum_DiscountAmount.ToString("#,##0")</label></th>
                                            <th style="border:2px solid #CCCCCC"><label class="label label-lg label-success">@sum_NetAmount.ToString("#,##0")</label></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.chosen-select').chosen();
    function myFunction(x) {
        x.classList.toggle("fa-minus");
    }
</script>


