@model AR_IS.ViewModel.ReportsVM
@{
    ViewBag.Title = "SearchVehicleProfit";
}
<div class="content-wrapper">
    <!-- Container-fluid starts -->
    <!-- Main content starts -->
    <div class="container-fluid">
        <div class="col-lg-12">
            <br />
            @*<a href="@Url.Action("Index","Category")" class="btn btn-primary offset-lg-10"><i class="fa fa-list"></i> Categories</a>*@
            <div id="mydiv" class="col-md-3">
                <p class="text-center bg-success">@TempData["Reg"]</p>
            </div>
            <div class="card" style="margin-top:20px">
                <div class="card-header">
                    <h5 class="card-header-text"><u><b>Vehicle Profit Report </b></u></h5>
                </div>
                <div class="card-block">
                    @using (Html.BeginForm("SearchVehicleProfit", "VehicleProfit", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-6">
                            <label>Start Date</label>
                            <input type="date" name="Sdate"  value="@Model.Sdate" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label>End Date</label>
                            <input type="date" name="Edate"  value="@Model.Edate" class="form-control" />
                        </div>
                        <br />
                        <div class="col-md-3 offset-sm-10">
                            <button type="submit" class="btn btn-primary " style="margin-top:30px"><i class="fa fa-search"></i>&nbsp; Search</button>
                        </div>
                    </div>
                    }
                </div>
            </div>
            <div class="card" style="margin-top:20px">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-header-text"><u>Vehicle Profit Report</u></h5>
                            </div>
                            <a href="@Url.Action("Print", new { Sdate = Model.Sdate, Edate= Model.Edate  } )" target="_blank" class="btn btn-primary col-md-3" style="margin-left:20px"><i class="fa fa-print"></i>&nbsp; Print</a>
                            <div class="card-block">
                                <br />
                                <br />
                                <table id="" class="table dt-responsive table-striped table-bordered nowrap">
                                    <thead class="bordered-darkorange">
                                        <tr style="background-color:#2196F3;color:white">
                                            <th>Date </th>
                                            <th>Vehicle </th>
                                            <th>Engine No </th>
                                            <th>Cost Price</th>
                                            <th>Sale Price </th>
                                            <th>Profit</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var lst in Model.VehicleProfit)
                                        {
                                            <tr>
                                                <td>@Convert.ToDateTime(lst.Date).ToString("dd MMM yyyy")</td>
                                                <td>@lst.VehicleName</td>
                                                <td>@lst.EngineNo</td>
                                                <td>@lst.CostPrice</td>
                                                <td>@lst.SalePrice</td>

                                                @if (lst.Profit > 0)
                                                {
                                                    <td style="width:30px; text-align:center;"><span class="badge badge-success">@lst.Profit</span></td>

                                                }
                                                else
                                                {
                                                    <td style="width:30px; text-align:center;"><span class="badge badge-danger">@lst.Profit</span></td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th>Final Total</th>
                                            <th> <button type="submit" class="btn btn-primary ">@Model.FinalProfit.TotalCostPrice</button></th>
                                            <th><button type="submit" class="btn btn-danger ">@Model.FinalProfit.TotalSalePrice</button></th>
                                            <th><button type="submit" class="btn btn-success ">@Model.FinalProfit.TotalProfit</button></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>