@model AR_IS.ViewModel.ReportsVM
@{
    ViewBag.Title = "SearchDeadlist";
}
<div class="content-wrapper">
    <!-- Container-fluid starts -->
    <!-- Main content starts -->
    <div class="container-fluid">
        <div class="col-lg-12">
            <br />
            @*<a href="@Url.Action("Index","Category")" class="btn btn-primary offset-lg-10"><i class="fa fa-list"></i> Categories</a>*@
            <div id="mydiv" class="col-md-3">
                <p class="text-center bg-success">@TempData["Reg"]</p>
            </div>
            <div class="card" style="margin-top:20px">
                <div class="card-header">
                    <h5 class="card-header-text"><u><b>Deadlist Report </b></u></h5>
                </div>
                <div class="card-block">
                    @using (Html.BeginForm("SearchDeadlist", "DeadList", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-4">
                                <label>Select Month</label>
                                <input type="month" name="month" value="@Model.Month" class="form-control" id="date_end" />
                            </div>
                            <br />
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary " style="margin-top:30px"><i class="fa fa-search"></i>&nbsp; Search</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="card" style="margin-top:20px">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-header-text"><u><b>Deadlist Report </b></u></h5>
                            </div>
                            <a href="@Url.Action("Print", new { month = Model.Month } )" target="_blank" class="btn btn-primary col-md-3" style="margin-left:20px"><i class="fa fa-print"></i>&nbsp; Print</a>
                            <div class="card-block">

                                <br />
                                <br />
                                <table id="" class="table dt-responsive table-striped table-bordered nowrap">
                                    <thead class="bordered-darkorange">
                                        <tr style="background-color:#2196F3;color:white">
                                            <th>Installment No</th>
                                            <th>Installment Month</th>
                                            <th>Customer Name</th>
                                            <th>Phone</th>
                                            <th>Vehicle </th>
                                            <th>Key No</th>
                                            <th>Status</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    

                                    <tbody>
                                        @foreach (var lst in Model.Deadlist)
                                        {
                                        <tr>
                                            <td align="center">@lst.InsId</td>
                                            <td align="center">@Convert.ToDateTime(lst.InstallmentMonths).ToString("MMM yyyy")</td>
                                            <td>@lst.Name</td>
                                            <td>@lst.Phone1</td>
                                            <td>@lst.VehicleName-@lst.EngineNo</td>
                                            <td>@lst.KeyNo</td>
                                            <td style="width:30px; text-align:center;"><span class="badge badge-danger">@lst.Status</span></td>
                                            <td>@lst.PerMonthAmount</td>


                                        </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>











