@model AR_IS.ViewModel.PWIVM
@{
    ViewBag.Title = "InstallmentDetail";
}
<div class="content-wrapper">
    <!-- Container-fluid starts -->
    <!-- Main content starts -->
    <div class="container-fluid">
        <div class="col-lg-12">
            <br />
            <a href="@Url.Action("New","PWI")" class="btn btn-primary offset-lg-10"><i class="fa fa-plus"></i>Create New</a>
            <div id="mydiv" class="col-md-3">
                <p class="text-center bg-success">@TempData["Reg"]</p>
            </div>
            <div class="card" style="margin-top:20px">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">

                            <div class="card-header">
                                <h5 class="card-header-text"><u>Installment Tables</u></h5>
                            </div>
                            <div class="card-block">
                                <div class="row">
                                    @using (Html.BeginForm("SaveInstallment", "PWI", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="Invid" value="@Model.Vehicleinfo.Invid" />
                                        <div class="col-md-3">
                                            <label>Supplier Name</label> :<span>@Model.Vehicleinfo.Name</span>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Vehicle Name</label> :<span>@Model.Vehicleinfo.VehicleName</span>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Model No</label> :<span>@Model.Vehicleinfo.ModelNo</span>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Chassi No</label> :<span>@Model.Vehicleinfo.ChassiNo</span>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Engine No</label> :<span>@Model.Vehicleinfo.EngineNo</span>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Remarks </label> :<span>@Model.Vehicleinfo.Remarks</span>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Color </label> :<span>@Model.Vehicleinfo.Color</span>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Total</label> :<span>@Model.Vehicleinfo.WithGSTTotal</span>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Advance Payment</label> :<span>@Model.Vehicleinfo.AdvancePayment</span>
                                        </div>


                                        <div class="col-md-12">
                                            <br />
                                            <br />
                                            <table id="advanced-table" class="table dt-responsive table-striped table-bordered nowrap">

                                                <thead>
                                                    <tr>
                                                        <th>Checked </th>
                                                        <th>Date </th>
                                                        <th>Monthly Amount </th>
                                                        <th>Status </th>
                                                        <th>Received Amount </th>

                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>Checked </th>
                                                        <th>Date </th>
                                                        <th>Monthly Amount </th>
                                                        <th>Status </th>
                                                        <th>Received Amount </th>

                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                    @foreach (var lst in Model.PurchaseVehicleInstallment)
                                                    {
                                                        <tr>
                                                            <td class="pull-left">
                                                                @if (lst.PerMonthAmount == lst.PaidAmount)
                                                                {
                                                                    <select class="form-control" style="height:27px" name="checkeds">

                                                                        <option value="Clear">Clear</option>
                                                                    </select>
                                                                }
                                                                else
                                                                {
                                                                    <input type="hidden" class="form-control" value="@lst.Id" name="id">
                                                                    @*<input type="checkbox" class="form-control" value="Clear" name="Status">*@
                                                                    <select class="form-control" style="height:27px" name="checkeds">
                                                                        <option value="Pending">Pending</option>
                                                                        <option value="Clear">Clear</option>
                                                                    </select>
                                                                }
                                                            </td>
                                                            <td>
                                                                @if (lst.PerMonthAmount == lst.PaidAmount)
                                                                {
                                                                    @Convert.ToDateTime(lst.Date).ToString("dd-MM-yyyy")
                                                                }
                                                                else
                                                                {
                                                                    <input type="date" class="form-control" name="date" value="@lst.Date" />
                                                                }

                                                            </td>
                                                            <td>
                                                                @lst.PerMonthAmount
                                                            </td>
                                                            @if (lst.Status == "Pending")
                                                            {
                                                                <td style="width:30px; text-align:center;"><span class="badge badge-danger">Pending</span><input type="hidden" class="form-control" name="Status" value="Pending" /></td>
                                                            }
                                                            else
                                                            {
                                                                <td style="width:30px; text-align:center;"><span class="badge badge-success">Clear</span><input type="hidden" class="form-control" name="Status" value="Clear" /></td>
                                                            }
                                                            <td>
                                                                @lst.PaidAmount<input type="hidden" value="@lst.AccountNo" name="AccountNo"><input type="hidden" value="@lst.PerMonthAmount" name="ReceivedAmount">
                                                            </td>

                                                        </tr>

                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-10" style="margin-left:330px;margin-top:20px">
                                            <button type="submit" class="btn btn-primary  col-sm-4 col-sm-offset-12" style="margin-top:10px" onclick="return confirm('Do you want to Save ..')"><i class="fa fa-paste f-20"></i> &nbsp; Save Installment</button>
                                        </div>

                                    }

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    setTimeout(function () {
        $('#mydiv').fadeOut('fast');
    }, 3000); // <-- time in milliseconds
</script>
@*<script>
        window.onload = function () {
            var tblFruits = document.getElementById("advanced-table");
            var chks = tblFruits.getElementsByTagName("INPUT");
            for (var i = 0; i < chks.length; i++) {
                chks[i].onclick = function () {
                    for (var i = 0; i < chks.length; i++) {
                        if (chks[i] != this && this.checked) {
                            chks[i].checked = false;
                        }
                    }
                };
            }
        };
    </script>*@



















