@model AR_IS.ViewModel.PWIVM
@{
    ViewBag.Title = "New";
}
<style>
    hr.new2 {
        color: #2196F3;
        border-top: 4px dotted;
    }
</style>

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="col-lg-12">
            <br />
            <a href="@Url.Action("Index","PWI")" class="btn btn-primary pull-right" data-toggle="tooltip" style="margin-left:20px"><i class="fa fa-list"></i> Invoice List</a>
            <button class="btn btn-primary pull-right" data-toggle="modal" title="Click Me To View" data-target="#recent1"><i class="fa fa-list"></i> Recent Invoice List</button>
            <br />
            <div id="mydiv" class="col-md-3">
                <p class="text-center bg-success">@TempData["Reg"]</p>
            </div>
            <div class="card" style="margin-top:20px">
                <div class="card-header text-center">
                    <h3 class=""><u><b>Purchase Installment Invoice</b></u></h3>
                </div>
                <div class="card-block">
                    @using (Html.BeginForm("Save", "PWI", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="card-header">
                            <h5 class="card-header-text text-primary-color"><b><u class="size">Invoice Info</u></b></h5>
                        </div>
                        <div class="col-md-3">
                            <label>Inv No </label>
                            @Html.TextBoxFor(m => m.PurDetailVehicle.Invid, new { @class = "form-control thresold-i", @placeholder = "", @readonly = "off" })
                        </div>
                        <div class="col-md-4">
                            <label>Inv Date </label>
                            @Html.TextBoxFor(m => m.PurDetailVehicle.Date, new { @class = "form-control thresold-i", @placeholder = "", @type = "date", id = "Date" })
                        </div>
                        <div class="col-md-4">
                            <label><b>Select Supplier</b></label>
                            @Html.DropDownListFor(m => m.PurDetailVehicle.AccountNo, new SelectList(Model.Supp_list, "AccountNo", "Name"), "Select Supplier", htmlAttributes: new { @class = "form-control input-xs chosen-select", })
                        </div>
                        <div class="col-md-12">
                            <hr class="new2">
                        </div>
                        <div class="card-header">
                            <h5 class="card-header-text text-primary-color"><b><u class="size">Vehicle Info</u></b></h5>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label><b>Vehicle Name</b></label>
                                @Html.TextBoxFor(m => m.PurDetailVehicle.VehicleName, new { @class = "form-control thresold-i", @placeholder = "", })
                            </div>
                            <div class="col-md-3">
                                <label><b>Model No</b></label>
                                @Html.TextBoxFor(m => m.PurDetailVehicle.ModelNo, new { @class = "form-control thresold-i", @placeholder = "", })

                            </div>
                            <div class="col-md-3">
                                <label>Chassis No</label>
                                @Html.TextBoxFor(m => m.PurDetailVehicle.ChassiNo, new { @class = "form-control thresold-i", @placeholder = "", })

                            </div>
                            <div class="col-md-3">
                                <br />
                                <label>Engine No</label>
                                @Html.TextBoxFor(m => m.PurDetailVehicle.EngineNo, new { @class = "form-control thresold-i", @placeholder = "", })
                            </div>
                            <div class="col-md-3">
                                <br />
                                <label>Key No</label>
                                @Html.TextBoxFor(m => m.PurDetailVehicle.KeyNo, new { @class = "form-control thresold-i", @placeholder = "", })
                            </div>
                            <div class="col-md-3">
                                <br />
                                <label> Color</label>
                                @Html.DropDownListFor(m => m.PurDetailVehicle.Color, new SelectList(new List<Object> { new { value = "Red", text = "Red" }, new { value = "White", text = "White" } }, "value", "text"), new { @class = "form-control thresold-i " })
                            </div>
                            <div class="col-md-3">
                                <br />
                                <label>Remarks</label>
                                @Html.DropDownListFor(m => m.PurDetailVehicle.Remarks, new SelectList(new List<Object> { new { value = "New", text = "New" }, new { value = "Ods", text = "White" } }, "value", "text"), new { @class = "form-control thresold-i " })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <hr class="new2">
                        </div>
                        <div class="card-header">
                            <h5 class="card-header-text"><b><u class="size text-primary-color">Payment Info</u></b></h5>
                        </div>
                        <div class="col-md-4">
                            <label><b>No of Installment</b></label>
                            @Html.TextBoxFor(m => m.PurDetailVehicle.NumberOfInstallment, new { @class = "form-control thresold-i", @placeholder = "", })
                        </div>
                        <div class="col-md-4">
                            <label><b>Installment Date</b></label>
                            @Html.TextBoxFor(m => m.PurDetailVehicle.InstallmentDate, new { @class = "form-control thresold-i", @type = "date", @placeholder = "", id = "Date1" })
                        </div>
                        <div class="col-md-4">
                            <label><b>Rate</b></label>
                            @Html.TextBoxFor(m => m.PurDetailVehicle.Rate, new { @class = "form-control thresold-i", @type = "number", @placeholder = "", id = "vrate", onkeyup = "getPrice()" })
                        </div>
                        <div class="col-md-4">
                            <br />
                            <label><b>Discount</b></label>
                            @Html.TextBoxFor(m => m.PurDetailVehicle.Discount, new { @class = "form-control thresold-i", @type = "number", @placeholder = "", id = "Discount", onkeyup = "getPrice()" })
                        </div>
                        <div class="col-md-4">
                            <br />
                            <label><b>Without GST Total</b></label>
                            @Html.TextBoxFor(m => m.PurDetailVehicle.WithoutGSTTotal, new { @class = "form-control thresold-i", @type = "number", @placeholder = "", @readonly = "true", id = "withoutgst" })
                        </div>
                        
                        <div class="col-md-4">
                            <br />
                            <label><b> GST </b></label>
                            @if (Model.PurDetailVehicle.Id == 0)
                            {
                                <input  class="form-control" readonly id="gst" value="@Model.Setting.GST" name="GST"/>
                               
                            }
                            else
                            {
                                @Html.TextBoxFor(m => m.PurDetailVehicle.GST, new { @class = "form-control thresold-i", @type = "number", @placeholder = "", @readonly = "true", id = "gst" })
                            }

                        </div>
                            <div class="col-md-4">
                                <br />
                                <label><b> With GST Total </b></label>
                                @Html.TextBoxFor(m => m.PurDetailVehicle.WithGSTTotal, new { @class = "form-control thresold-i", @type = "number", @placeholder = "", @readonly = "true", id = "withgst" })
                            </div>
                            <div class="col-md-4">
                                <br />
                                <label><b> Advance Payment</b></label>
                                @Html.TextBoxFor(m => m.PurDetailVehicle.AdvancePayment, new { @class = "form-control thresold-i", @type = "number", @placeholder = "" ,id="advance", onkeyup = "getPrice()" })
                            </div>
                            <div class="col-md-4">
                                <br />
                                <label><b>Balance Total</b></label>
                                @Html.TextBoxFor(m => m.PurDetailVehicle.BalanceTotal, new { @class = "form-control thresold-i", @type = "number", @placeholder = "", @readonly = "true",id="balance" })
                            </div>
                            <div class="col-md-10" style="margin-left:330px;margin-top:20px">
                                @if (Model.PurDetailVehicle.Id == 0)
                                {
                                    <button type="submit" class="btn btn-primary  col-sm-4 col-sm-offset-12" style="margin-top:10px" onclick="return confirm('Do you want to Save ..')"><i class="fa fa-paste f-20"></i> &nbsp; Save Invoice</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary  col-sm-4 col-sm-offset-12" style="margin-top:10px" onclick="return confirm('Do you want to Update ..')"><i class="fa fa-paste f-20"></i> &nbsp; Update Invoice</button>
                                }
                            </div>
                            @Html.HiddenFor(m => m.PurDetailVehicle.Id)
                        }
                    </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.chosen-select').chosen();
    $(document).ready(function () {
        var now = new Date();
        var month = (now.getMonth() + 1);
        var day = now.getDate();
        if (month < 10)
            month = "0" + month;
        if (day < 10)
            day = "0" + day;
        var today = now.getFullYear() + '-' + month + '-' + day;

        $('#Date').val(today);
        $('#Date1').val(today);
    });
    setTimeout(function () {
        $('#mydiv').fadeOut('fast');
    }, 3000);
</script>
<script type="text/javascript">
    function getPrice() {
        var numval1 = parseFloat(document.getElementById("vrate").value || 0);
        var numval2 = parseFloat(document.getElementById("Discount").value || 0);
        var numval3 = parseFloat(document.getElementById("gst").value || 0);
        var t_f = parseFloat(numval1) - parseFloat(numval2);
        var t_f1 = parseFloat(t_f) + parseFloat(numval3);
        if (!isNaN(t_f) && !isNaN(t_f1)) {
            document.getElementById("withoutgst").value = t_f.toFixed(2);
            document.getElementById("withgst").value = t_f1.toFixed(2);
            document.getElementById("balance").value = t_f1.toFixed(2);
        }
        var numval4 = parseFloat(document.getElementById("advance").value || 0);
        var t_f2 = parseFloat(t_f1) - parseFloat(numval4);
        if (!isNaN(t_f2)) {
            
            document.getElementById("balance").value = t_f2.toFixed(2);
        }
    };
</script>
    
