@model AR_IS.ViewModel.SaleWTCVM
@{
    ViewBag.Title = "New";
}
<style>
    hr.new2 {
        color: #2196F3;
        border-top: 4px dotted;
    }

    select:invalid {
        height: 6px !important;
        opacity: 0 !important;
        position: absolute !important;
        display: flex !important;
        width: 300px;
    }

        select:invalid[multiple] {
        }
</style>
<div class="content-wrapper">
    <!-- Container-fluid starts -->
    <!-- Main content starts -->
    <div class="container-fluid">
        <div class="col-lg-12">
            <br />
            <a href="@Url.Action("Index","SaleWTC")" class="btn btn-primary pull-right" data-toggle="tooltip" style="margin-left:20px"><i class="fa fa-list"></i> Invoice List</a>
            <button class="btn btn-primary pull-right" data-toggle="modal" title="Click Me To View" data-target="#recent1"><i class="fa fa-list"></i> Recent Invoice List</button>
            <br />
            <div id="mydiv" class="col-md-3">
                <p class="text-center bg-success">@TempData["Reg"]</p>
            </div>
            <div class="card" style="margin-top:20px">
                <div class="card-header text-center">
                    <h3 class="text-primary-color"><u><b>Sale Invoice</b></u></h3>
                </div>
                <div class="card-block">
                    @using (Html.BeginForm("Save", "SaleWTC", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="card-header">
                            <h5 class="card-header-text text-primary-color"><b><u class="size">Invoice Info</u></b></h5>
                        </div>
                        <div class="col-md-4">
                            <label>Inv No </label>
                            @Html.TextBoxFor(m => m.SaleMaster.Invid, new { @class = "form-control thresold-i", @placeholder = "", @readonly = "off" })
                        </div>
                        <div class="col-md-4">
                            <label>Inv Date </label>
                            @Html.TextBoxFor(m => m.SaleMaster.Date, new { @class = "form-control thresold-i", @placeholder = "", @type = "date", id = "Date" })
                        </div>
                        <div class="col-md-4">
                            <label><b>Select Customer</b></label>
                            @Html.DropDownListFor(m => m.SaleMaster.AccountNo, new SelectList(Model.Cus_list, "AccountNo", "Name"), "Select Customer", htmlAttributes: new { @class = "form-control input-xs chosen-select", @required = "true" })
                        </div>
                        <div class="col-md-4">
                            <br />
                            <label>Remarks For Related Invoice </label>
                            @Html.TextAreaFor(m => m.TranscationDetail.Remarks, new { @class = "form-control thresold-i", rows = 2, columns = 5 })
                        </div>
                        <div class="col-md-4">
                            <br />
                            <label>Cargo Number </label>
                            @Html.TextBoxFor(m => m.SaleMaster.Phone, new { @class = "form-control thresold-i", @type = "number", @autocomplete = "off" })
                        </div>
                        <div class="col-md-4">
                            <br />
                            <label>Cargo Name </label>
                            @Html.TextBoxFor(m => m.SaleMaster.CargoName, new { @class = "form-control thresold-i", @placeholder = "", @autocomplete = "off" })
                        </div>
                        <div class="col-md-12">
                            <hr class="new2">
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card-header">
                                    <h5 class="card-header-text"><b><u class="size text-primary-color">Item Info</u></b></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" autocomplete="off" id="ProductID" readonly type="hidden">
                            <input class="form-control" autocomplete="off" id="Itemunit" value="0" type="hidden">
                            <a class="btn btn-wide btn-danger pull-right" data-toggle="modal" title="Click Me To View" data-target="#recent" style="margin-top:25px"><i class="fa fa-search-plus"></i></a>
                        </div>
                        <div class="col-md-3">
                            <label>Name</label>
                            <input class="form-control" autocomplete="off" id="ProductName" readonly type="text">
                        </div>
                        <div class="col-md-1">
                            <label>CTN</label>
                            <input class="form-control" autocomplete="off" id="ctn" value="0" onkeyup="getPrice()" type="text">
                        </div>
                        <div class="col-md-1">
                            <label>Qty</label>
                            <input class="form-control" autocomplete="off" id="qty" value="0" onkeyup="getPrice()" type="text">
                        </div>
                        <div class="col-md-1">
                            <label>SP</label>
                            <input class="form-control" autocomplete="off" id="sp" value="0" onkeyup="getPrice()" type="text">
                        </div>
                        <div class="col-md-2">
                            <label>Net Total</label>
                            <input readonly class="form-control" autocomplete="off" type="text" id="nettotal">
                        </div>
                        <div class="col-md-2 ">
                            <button style="margin-top:28px ;background-color:#4cff00" type="button" onclick='abc()' class="btn"><i class="fa fa-plus"></i>Add Item</button>
                        </div>
                        <br />
                        <div class="col-md-12">
                            <br />
                            <table id="invoiceItem" class="mb-0 table table-sm table-bordered table-hover" style="">
                                <tr style="background-color:#2196F3;color:white">
                                    <th>Action</th>
                                    <th style="display:none">ID</th>
                                    <th>Name</th>
                                    <th style="display:none">Item Unit</th>
                                    <th>CTN</th>
                                    <th>Qty</th>
                                    <th>SP</th>
                                    <th>Net Total</th>
                                </tr>
                                @if (Model.SaleMaster.Id == 0)
                                {
                                    <tbody>
                                    </tbody>
                                }
                                else
                                {
                                    <tbody>
                                        @foreach (var lst in Model.SaleDetail_list)
                                        {
                                            <tr>

                                                <td style="width:80px !important"><a style=color:white;background-color:red; class=badge badge-warning onclick=deleteRow(this)><i class="fa fa-trash-o"></i></a>&nbsp;<a class="badge badge-primary" onclick="return ShowEditModal(this)"><i class="fa fa-pencil"></i></a></td>

                                                <td style="display:none"><input type="text" name="prid[]" value="@lst.Itemid" readonly Class="form-control" /></td>

                                                <td><input type="text" name="productname[]" value="@lst.ItemName" readonly Class="form-control" /></td>

                                                <td style="display:none"><input type="text" name="itemunit[]" value="@lst.ItemUnit" readonly Class="form-control total" /></td>

                                                <td><input type="text" name="ctn[]" value="@lst.CTN" readonly Class="form-control total" /></td>

                                                <td><input type="text" name="qty[]" value="@lst.Qty" readonly Class="form-control total" /></td>

                                                <td><input type="text" name="saleprice[]" value="@lst.SP" readonly Class="form-control total" /></td>

                                                <td><input type="text" name="nettotal[]" value="@lst.NetTotal" readonly Class="form-control total" /></td>

                                                <td style="display:none">@lst.Itemid</td>

                                                <td style="display:none">@lst.ItemName</td>

                                                <td style="display:none">@lst.ItemUnit</td>

                                                <td style="display:none">@lst.CTN</td>

                                                <td style="display:none">@lst.Qty</td>

                                                <td style="display:none">@lst.SP</td>

                                                <td style="display:none">@lst.NetTotal</td>
                                            </tr>
                                        }
                                    </tbody>
                                }

                            </table>
                        </div>
                        <div class="col-md-12">
                            <hr class="new2">
                        </div>
                        <div class="card-header">
                            <h5 class="card-header-text"><b><u class="size text-primary-color">Payment Info</u></b></h5>
                        </div>
                        <div class="col-md-3">
                            <br />
                            <label>Total </label>
                            @Html.TextBoxFor(m => m.SaleMaster.Total, new { @class = "form-control thresold-i", @placeholder = "", @readonly = "only", id = "total" })
                        </div>
                        <div class="col-md-3">
                            <br />
                            <label>Cargo Charges </label>
                            @Html.TextBoxFor(m => m.SaleMaster.CargoCharges, new { @class = "form-control thresold-i", @placeholder = "", onkeyup = "gt()", @type = "number", id = "cgo_charges", @autocomplete = "off" })
                        </div>
                        <div class="col-md-3">
                            <br />
                            <label>Grand Total</label>
                            @Html.TextBoxFor(m => m.SaleMaster.GrandTotal, new { @class = "form-control thresold-i", @placeholder = "", @readonly = "only", id = "granttotal" })
                        </div>
                        <div class="col-md-3">
                            <br />
                            <label>Discount</label>
                            @Html.TextBoxFor(m => m.SaleMaster.DiscountAmount, new { @class = "form-control thresold-i", @placeholder = "", onkeyup = "gt()", @type = "number", id = "dis", @autocomplete = "off" })
                        </div>
                        <div class="col-md-4">
                            <br />
                            <label>Net Total</label>

                            @Html.TextBoxFor(m => m.SaleMaster.NetAmount, new { @class = "form-control thresold-i", @placeholder = "", @readonly = "", id = "grantnettotal" })
                        </div>
                        <div class="col-md-4">
                            <br />
                            <label>Received Amount</label>
                            @Html.TextBoxFor(m => m.SaleMaster.Rtotal, new { @class = "form-control thresold-i", @placeholder = "", onkeyup = "gt()", id = "Paidtotal", @type = "number", @autocomplete = "off" })
                        </div>
                        <div class="col-md-4">
                            <br />
                            <label>Balance Total</label>
                            @Html.TextBoxFor(m => m.SaleMaster.BTotal, new { @class = "form-control thresold-i", @placeholder = "", @type = "number", id = "BalanceTotal", @readonly = "true" })
                        </div>
                        <div class="col-md-10" style="margin-left:420px;margin-top:20px">
                            @if (Model.SaleMaster.Id == 0)
                            {
                                <button type="submit" class="btn btn-primary  col-sm-4 col-sm-offset-12" style="margin-top:10px" onclick="return confirm('Do you want to Save ..')"><i class="fa fa-paste f-20"></i> &nbsp; Save Invoice</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary  col-sm-4 col-sm-offset-12" style="margin-top:10px" onclick="return confirm('Do you want to Update ..')"><i class="fa fa-paste f-20"></i> &nbsp; Update Invoice</button>
                            }

                        </div>
                        @Html.HiddenFor(m => m.SaleMaster.Id)
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //This Function call The Addition of Rows
    function abc() {
        //Appending the Colums By Same Id
        var productid = document.getElementById("ProductID").value;
        var productname = document.getElementById("ProductName").value;
        var itemunit = document.getElementById("Itemunit").value;
        var ctn = document.getElementById("ctn").value;
        var saleprice = document.getElementById("sp").value;
        var qty = document.getElementById("qty").value;
        var nettotal = document.getElementById("nettotal").value;
        if (productname == "" || productname == 0) {
            alert("Please Select Product");
        }
        else if (saleprice == "" || saleprice == 0) {

            alert("Please Enter Cost Price");
        }
        else if (ctn == "" || ctn == 0) {

            alert("Please Enter CTN");
        }
        else {
            var htmlrows = '';
            htmlrows += '<tr>';
            htmlrows += '<td style="width:80px !important"><a  style=color:white;background-color:red; class=badge badge-warning    onclick=deleteRow(this)><i class="fa fa-trash-o"></i></a>&nbsp;<a class="badge badge-primary" onclick="return ShowEditModal(this)" ><i class="fa fa-pencil"></i></a></td>'
            htmlrows += '<td style="display:none"><input type="text"  name="prid[]" value="' + productid + '"  readonly Class="form-control" /></td>'
            htmlrows += '<td><input type="text" name="productname[]" value="' + productname + '"  readonly Class="form-control" /></td>'
            htmlrows += '<td style="display:none"><input type="text"  name="itemunit[]" value="' + itemunit + '"  readonly Class="form-control total" /></td>'
            htmlrows += '<td><input type="text"  name="ctn[]" value="' + ctn + '"  readonly Class="form-control total" /></td>'
            htmlrows += '<td><input type="text"  name="qty[]" value="' + qty + '"  readonly Class="form-control total" /></td>'
            htmlrows += '<td><input type="text"  name="saleprice[]" value="' + saleprice + '"  readonly Class="form-control total" /></td>'
            htmlrows += '<td><input type="text"  name="nettotal[]" value="' + nettotal + '"  readonly Class="form-control total" /></td>'
            htmlrows += '<td style="display:none">' + productid + '</td>'
            htmlrows += '<td style="display:none">' + productname + '</td>'
            htmlrows += '<td style="display:none">' + itemunit + '</td>'
            htmlrows += '<td style="display:none">' + ctn + '</td>'
            htmlrows += '<td style="display:none">' + qty + '</td>'
            htmlrows += '<td style="display:none">' + saleprice + '</td>'
            htmlrows += '<td style="display:none">' + nettotal + '</td>'
            htmlrows += '</tr>';
            $('#invoiceItem').append(htmlrows);
            //Clearing the Text Boxes After adding..
            $('#ProductID').val('');
            $('#ProductName').val('');
            $('#ctn').val('0'); //add this line
            $('#Itemunit').val('0'); //add this line
            $('#sp').val('0'); //add this line
            $('#qty').val('0'); //add this line
            $('#nettotal').val('0'); //add this line
        }
        //Total Function
        var table = document.getElementById("invoiceItem"), sumVal = 0;
        for (var i = 1; i < table.rows.length; i++) {
            sumVal = sumVal + parseFloat(table.rows[i].cells[14].innerHTML);
        }
        document.getElementById("total").value = sumVal.toFixed(2);
        document.getElementById("granttotal").value = sumVal.toFixed(2);
        document.getElementById("grantnettotal").value = sumVal.toFixed(2);
        document.getElementById("BalanceTotal").value = sumVal.toFixed(2);
        //cargo //discount// received
        var cgo_charges = document.getElementById("cgo_charges").value || 0;
        var total = document.getElementById("total").value || 0;
        var t_f = parseFloat(cgo_charges) + parseFloat(total);
        document.getElementById("granttotal").value = t_f.toFixed(2);
        document.getElementById("grantnettotal").value = t_f.toFixed(2);
        document.getElementById("BalanceTotal").value = t_f.toFixed(2);
        var dis = parseFloat(document.getElementById("dis").value || 0);
        var t_f1 = parseFloat(t_f - dis);
        document.getElementById("grantnettotal").value = t_f1.toFixed(2);;
        document.getElementById("BalanceTotal").value = t_f1.toFixed(2);
        var bal = parseFloat(document.getElementById("Paidtotal").value || 0);
        var t_f2 = parseFloat(t_f1 - bal);
        document.getElementById("BalanceTotal").value = t_f2.toFixed(2);

    }
    //Delete The Rows.
    function deleteRow(btn) {
        if (confirm("Are you sure want to delete the row?"))
            $(btn).closest("tr").remove();
        var table = document.getElementById("invoiceItem"), sumVal = 0;
        for (var i = 1; i < table.rows.length; i++) {
            sumVal = sumVal + parseFloat(table.rows[i].cells[14].innerHTML);
        }
        document.getElementById("total").value = sumVal.toFixed(2);
        document.getElementById("granttotal").value = sumVal.toFixed(2);
        document.getElementById("grantnettotal").value = sumVal.toFixed(2);
        document.getElementById("BalanceTotal").value = sumVal.toFixed(2);
        //cargo //discount// received
        var cgo_charges = document.getElementById("cgo_charges").value || 0;
        var total = document.getElementById("total").value || 0;
        var t_f = parseFloat(cgo_charges) + parseFloat(total);
        document.getElementById("granttotal").value = t_f.toFixed(2);
        document.getElementById("grantnettotal").value = t_f.toFixed(2);
        document.getElementById("BalanceTotal").value = t_f.toFixed(2);
        var dis = parseFloat(document.getElementById("dis").value || 0);
        var t_f1 = parseFloat(t_f - dis);
        document.getElementById("grantnettotal").value = t_f1.toFixed(2);;
        document.getElementById("BalanceTotal").value = t_f1.toFixed(2);
        var bal = parseFloat(document.getElementById("Paidtotal").value || 0);
        var t_f2 = parseFloat(t_f1 - bal);
        document.getElementById("BalanceTotal").value = t_f2.toFixed(2);

    }

    function ShowEditModal(button) {
        if (confirm("Are you sure want to Edit the row?"))
            var $row = $(button).closest('tr');
        var col1 = $row.find("td:eq(8)").html();
        var col2 = $row.find("td:eq(9)").html();
        var col3 = $row.find("td:eq(10)").html();
        var col5 = $row.find("td:eq(11)").html();
        var col8 = $row.find("td:eq(12)").html();
        var col9 = $row.find("td:eq(13)").html();
        var col10 = $row.find("td:eq(14)").html();
        document.getElementById("ProductID").value = col1;
        document.getElementById("ProductName").value = col2;
        document.getElementById("Itemunit").value = col3;
        document.getElementById("ctn").value = col5;
        document.getElementById("qty").value = col8;
        document.getElementById("sp").value = col9;
        document.getElementById("nettotal").value = col10;
        $(button).closest("tr").remove();
        var table = document.getElementById("invoiceItem"), sumVal = 0;
        for (var i = 1; i < table.rows.length; i++) {
            sumVal = sumVal + parseFloat(table.rows[i].cells[14].innerHTML);
        }
        //alert(sumVal);
        document.getElementById("total").value = sumVal.toFixed(2);
        document.getElementById("granttotal").value = sumVal.toFixed(2);
        document.getElementById("grantnettotal").value = sumVal.toFixed(2);
        document.getElementById("BalanceTotal").value = sumVal.toFixed(2);

        //cargo //discount// received
        var cgo_charges = document.getElementById("cgo_charges").value || 0;
        var total = document.getElementById("total").value || 0;
        var t_f = parseFloat(cgo_charges) + parseFloat(total);
        document.getElementById("granttotal").value = t_f.toFixed(2);
        document.getElementById("grantnettotal").value = t_f.toFixed(2);
        document.getElementById("BalanceTotal").value = t_f.toFixed(2);
        var dis = parseFloat(document.getElementById("dis").value || 0);
        var t_f1 = parseFloat(t_f - dis);
        document.getElementById("grantnettotal").value = t_f1.toFixed(2);;
        document.getElementById("BalanceTotal").value = t_f1.toFixed(2);
        var bal = parseFloat(document.getElementById("Paidtotal").value || 0);
        var t_f2 = parseFloat(t_f1 - bal);
        document.getElementById("BalanceTotal").value = t_f2.toFixed(2);

    }
    function gt() {
        var cgo_charges = document.getElementById("cgo_charges").value || 0;
        var total = document.getElementById("total").value || 0;
        var t_f = parseFloat(cgo_charges) + parseFloat(total);
        document.getElementById("granttotal").value = t_f.toFixed(2);
        document.getElementById("grantnettotal").value = t_f.toFixed(2);
        document.getElementById("BalanceTotal").value = t_f.toFixed(2);
        var dis = parseFloat(document.getElementById("dis").value || 0);
        var t_f1 = parseFloat(t_f - dis);
        document.getElementById("grantnettotal").value = t_f1.toFixed(2);;
        document.getElementById("BalanceTotal").value = t_f1.toFixed(2);
        var bal = parseFloat(document.getElementById("Paidtotal").value || 0);
        var t_f2 = parseFloat(t_f1 - bal);
        document.getElementById("BalanceTotal").value = t_f2.toFixed(2);


    };
</script>
<script>
    function getPrice() {
        var numval1 = parseFloat(document.getElementById("ctn").value || 0);
        var numval2 = parseFloat(document.getElementById("Itemunit").value || 0);
        var t_f = parseFloat(numval1).toFixed(2) * parseFloat(numval2).toFixed(2);
        if (!isNaN(t_f)) {
            document.getElementById("nettotal").value = t_f.toFixed(2);
        }
        var numval3 = parseFloat(document.getElementById("qty").value || 0);
        var t_f1 = parseFloat(t_f) + parseFloat(numval3);
        if (!isNaN(t_f1)) {
            document.getElementById("nettotal").value = t_f1.toFixed(2);
        }
        var numval4 = (document.getElementById("sp").value || 0);
        var t_f2 = parseFloat(t_f1) * parseFloat(numval4);
        if (!isNaN(t_f2)) {
            document.getElementById("nettotal").value = t_f2.toFixed(2);
        }
    };
</script>
<script>
    $('.chosen-select').chosen();
    $(document).ready(function () {
        var now = new Date();
        var month = (now.getMonth() + 1);
        var day = now.getDate();
        if (month < 10)
            month = "0" + month;
        if (day < 10)
            day = "0" + day;
        var today = now.getFullYear() + '-' + month + '-' + day;

        $('#Date').val(today);
    });
    setTimeout(function () {
        $('#mydiv').fadeOut('fast');
    }, 3000);
</script>
<script>
     function Action(id) {
        $.ajax({
            url: '@Url.Action("Action", "SaleWTC")',
            type: "POST",
            data: { "id": id },
        "success": function (data) {
        if (data != null) {
            var vdata = data;
            $("#ProductID").val(vdata[0].Id);
            $("#ProductName").val(vdata[0].Iname);
            $("#sp").val(vdata[0].Sprice);
            $("#Itemunit").val(vdata[0].Itemunit);
            $('#qty').val('0');
            $('#ctn').val('0');
            $('#nettotal').val('0');
        }
    }
});
    }

</script>
<div class="modal fade" id="recent" aria-labelledby="modal-large-label">
    <div class="modal-dialog modal-lg  ">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#2196F3">
                <h4 class="modal-title text-center" style="color:white"><i class="icofont icofont-cart-alt f-20" style="color: white;font-size:35px"></i>Item Details</h4>
            </div>
            <div style="overflow-x:auto">
                <div class="modal-body">
                    <br />
                    <br />
                    <div style="overflow-y: scroll;">
                        <br />
                        <table class="table table-bordered table-hover table-striped" id="simpletable">
                            <thead class="bordered-darkorange">
                                <tr>
                                    <th>Action</th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Sale Price</th>
                                    <th>Item Unit</th>
                                    <th>Barcode</th>
                                    <th>Shelf Number</th>
                                    <th>Reorder level</th>
                                    <th>Op Stock</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Action</th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Sale Price</th>
                                    <th>Item Unit</th>
                                    <th>Barcode</th>
                                    <th>Shelf Number</th>
                                    <th>Reorder level</th>
                                    <th>Op Stock</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in Model.Prod_list)
                                {
                                <tr>
                                    <td><button class="btn btn-primary btn-icon waves-effect waves-light" onclick="Action(this.value)" value="@item.Id" data-dismiss="modal"><i class="fa fa-check"></i></button></td>
                                    <td>@item.Id</td>
                                    <td>@item.Iname</td>
                                    <td>@item.Sprice</td>
                                    <td>@item.Itemunit</td>
                                    <td>@item.Barcode</td>
                                    <td>@item.Shelfnumber</td>
                                    <td>@item.Reorderlevel</td>
                                    <td>@item.Openingstock</td>
                                </tr>
                                }
                            </tbody>

                        </table>

                    </div>
                    <button type="button" class="btn btn-primary " style="margin-top:30px" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="recent1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" style="background-color:#2196F3">
                <h4 class="modal-title text-center" style="color:white">Recent Invoices</h4>
            </div>
            <!-- Modal body -->
            <div style="overflow-x:auto">
                <div class="modal-body">
                    <br />
                    <br />
                    <table id="advanced-table" class="table table-responsive table-striped table-bordered nowrap">
                        <thead>
                            <tr>
                                <th>Inv No</th>
                                <th>Date </th>
                                <th>Customer </th>
                                <th>Net Total </th>
                                <th>Received Total </th>
                                <th>Balance Total </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Inv No</th>
                                <th>Date </th>
                                <th>Customer </th>
                                <th>Net Total </th>
                                <th>Received Total </th>
                                <th>Balance Total </th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var lst in Model.SaleRecent)
                            {
                                <tr>
                                    <td>
                                        @lst.Invid

                                    </td>
                                    <td>
                                        @Convert.ToDateTime(lst.Date).ToString("dd MMM yyyy")

                                    </td>
                                    <td>
                                        @lst.Name

                                    </td>
                                    <td>
                                        @lst.NetAmount

                                    </td>
                                    <td>
                                        @lst.Rtotal

                                    </td>
                                    <td>
                                        @lst.BTotal

                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", new { Invid = lst.Invid })" new { onclick="return confirm('Are you sure you want to Edit this Invoice?');" class="badge badge-primary" data-toggle="tooltip" data-placement="left" title="Click Me To Edit"><i class="fa fa-pencil"></i></a>
                                        <a href="@Url.Action("Print", new {   Invid = lst.Invid  })" target="_blank" class="badge badge-warning" data-toggle="tooltip" data-placement="left" title="Click Me To Print"><i class="ion-printer"></i> </a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary " style="margin-top:30px" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

