@model AR_IS.Models.Cargo
@{
    ViewBag.Title = "New";
}
<div class="content-wrapper">
    <!-- Container-fluid starts -->
    <!-- Main content starts -->
    <div class="container-fluid">
        <div class="col-lg-12">
            <br />
            <a href="@Url.Action("Index","Cargo")" class="btn btn-primary offset-lg-10"><i class="fa fa-list"></i> Cargos</a>
            <div class="card" style="margin-top:20px">
                <div class="card-header">
                    <h5 class="card-header-text"><u><b>Register Cargo</b></u></h5>
                </div>
                <div class="card-block">
                    @if (TempData["Reg"] != null)
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <div id="mydiv" class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>

                                    <div class="alert-message">
                                        <span>@TempData["Reg"]</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @using (Html.BeginForm("Save", "Cargo", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-4">
                                <label>Name </label>&nbsp;<i class="fa fa-asterisk text-danger"></i>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control thresold-i", @placeholder = "", @maxlength = "30", @required = "required", @autocomplete = "off" })
                            </div>
                        </div>
                        <br />
                        <div class="offset-md-4 col-md-5 " style="margin-top:20px">
                            @if (Model.Id == 0)
                            {
                                <button type="submit" class="btn btn-primary pull-right col-md-8" style="margin-top:0px"><i class="fa fa-check"></i> Save </button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary pull-right col-md-8" style="margin-top:0px"><i class="fa fa-check"></i> Update </button>
                            }
                        </div>
                        @Html.HiddenFor(m => m.Id)
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    setTimeout(function () {
        $('#mydiv').fadeOut('fast');
    }, 3000); // <-- time in milliseconds
</script>










