@model AR_IS.Models.InstallmentPlan
@{
    ViewBag.Title = "New";
}
<div class="content-wrapper">
    <!-- Container-fluid starts -->
    <!-- Main content starts -->
    <div class="container-fluid">
        <div class="col-lg-12">
            <br />
            <a href="@Url.Action("Index","InstallmentPlan")" class="btn btn-primary offset-lg-10"><i class="fa fa-list"></i> Installment Plans</a>
            
            <div class="card" style="margin-top:20px">
                <div class="card-header">
                    <h5 class="card-header-text"><u><b>Register Installment Plan</b></u></h5>
                </div>
                <div class="card-block">
                    @if (TempData["Reg"] != null)
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <div id="mydiv" class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>

                                    <div class="alert-message">
                                        <span>@TempData["Reg"]</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @using (Html.BeginForm("Save", "InstallmentPlan", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-4">
                                <label>No of Year </label>&nbsp;<i class="fa fa-asterisk text-danger"></i>
                                @Html.TextBoxFor(m => m.year, new { @class = "form-control thresold-i", @placeholder = "", @maxlength = "30", @required = "required", @autocomplete = "off", @type = "text", id = "txtChar", onkeypress = "return isNumberKey(event)" })
                            </div>
                            <div class="col-md-4">
                                <label>MarkUp % </label>&nbsp;<i class="fa fa-asterisk text-danger"></i>
                                @Html.TextBoxFor(m => m.MarkUp, new { @class = "form-control thresold-i", @required = "required", @type = "", maxlength = "3", id = "smsCode" })
                            </div>
                            <div class="col-md-4">
                                <label>Details </label>
                                @Html.TextAreaFor(m => m.Detail, new { @class = "form-control thresold-i", @placeholder = "", })
                            </div>
                        </div>
                        
                        <div class="offset-md-4 col-md-5 " style="margin-top:20px">
                            @if (Model.Id == 0)
                            {
                                <button type="submit" class="btn btn-primary pull-right col-md-8" style="margin-top:0px"><i class="fa fa-check"></i> Save </button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary pull-right col-md-8" style="margin-top:0px"><i class="fa fa-check"></i> Update </button>
                            }
                        </div>
                        
                        @Html.HiddenFor(m => m.Id)
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    setTimeout(function () {
        $('#mydiv').fadeOut('fast');
    }, 3000); // <-- time in milliseconds
</script>

<script type="text/javascript">
    
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
      
</script>








