@model AR_IS.Models.GeneralUser
@{
    ViewBag.Title = "Update";
}
<div class="content-wrapper">
    <!-- Container-fluid starts -->
    <!-- Main content starts -->
    <div class="container-fluid">
        <div class="col-lg-12">
            <br />
            <a href="@Url.Action("Index","UserDetails")" class="btn btn-primary offset-lg-10"><i class="fa fa-list"></i> User Details</a>
            <div id="mydiv" class="col-md-3">
                <p class="text-center bg-success">@TempData["Reg"]</p>
            </div>
            <div class="card" style="margin-top:20px">
                <div class="card-header">
                    <h5 class="card-header-text"><u><b>Update User</b></u></h5>
                </div>
                <div class="card-block">
                    @using (Html.BeginForm("User_Update", "UserDetails", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-4">
                            <label>UserName </label>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control thresold-i", @placeholder = "", @maxlength = "30", @required = "required", @autocomplete = "off", @readonly = "only" })
                        </div>
                        <div class="col-md-4">
                            <label>Phone </label>
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control thresold-i", @placeholder = "", @maxlength = "30", @required = "required", @autocomplete = "off", @readonly = "only" })
                        </div>
                        <div class="col-md-4">
                            <label>Email </label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control thresold-i", @placeholder = "", @maxlength = "30", @required = "required", @autocomplete = "off", @readonly = "only" })
                        </div>
                        <div class="col-md-4 top">
                            <label>Reg Date </label>
                            @Html.TextBoxFor(m => m.RegDate, new { @class = "form-control thresold-i", @placeholder = "", @maxlength = "30", @required = "required", @autocomplete = "off", @readonly = "only" })
                        </div>
                        <div class="col-md-4 top">
                            <label>Exp Date </label>
                            @Html.TextBoxFor(m => m.ExpDate, "{0:yyyy-MM-ddTHH:mm:ss}", new { @class = "form-control thresold-i",@type= "datetime-local" })
                        </div>
                    </div>
                        <br />
                        <div class="col-md-10" style="margin-left:340px;margin-top:20px">
                            @if (Model.Id == 0)
                            {

                                <button type="submit" class="btn btn-primary col-sm-4 col-sm-offset-12" style="margin-top:10px" new { onclick="return confirm('Are you sure you want to Save this Update?');"><i class="icofont icofont-ui-check"></i>  Save </button>

                            }
                            else
                            {

                                <button type="submit" class="btn btn-primary col-sm-4 col-sm-offset-12" style="margin-top:10px" new { onclick="return confirm('Are you sure you want to Update this Update?');"><i class="icofont icofont-ui-check"></i>  Update </button>

                            }
                            @Html.HiddenFor(m => m.Id)
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    setTimeout(function () {
        $('#mydiv').fadeOut('fast');
    }, 3000); // <-- time in milliseconds
</script>









